
header {
    height: 80px;
    width: 100%;
    border: 1px solid black;
}

.ms_container {
    border: 1px solid black;
}


.ms_row {
    height: 400px;
    background-color: lightcoral;
}

.ms_col {
    border: 1px solid black;
}


/* PORTFOLIO */
.ms_row_portfolio {
    height: 400px;
    background-color: lightgreen;
}




.ms_col_about {
    /* height: 50px; */
    background-color: yellow;
    border: 1px solid black;
}
